Package: 402-status
Version: 1.0
Architecture: i386
Maintainer: syndicut <syndicut@yandex-team.ru>
Installed-Size: 84
Pre-Depends: lighttpd
Depends: python, bash, perl
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Scripts to return 402 status via cgi
 Scripts for #yakit practice to return 402 status code via cgi written in Perl, Bash and Python
