Package: 402-status
Version: 1.0
Architecture: all
Maintainer: Rashit Azizbaev <syndicut@yandex-team.ru>
Installed-Size: 80
Pre-Depends: lighttpd
Section: unknown
Priority: extra
Homepage: https://github.com/syndicut/yakit/402_status
Description: Scripts to return 402 status via cgi
 Scripts for #yakit practice to return 402 status code via cgi written in Perl, Bash and Python
